/* Importation de polices Google font */
@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Gérer les marges des div + définition de la police*/
*{box-sizing: border-box;}

/* Aucune marge sur les côtés */
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#container{
    margin: 0;
    width: 80%;
    margin-left: 20%;
}

#containerBack{
    margin: 0;
    width: 90%;
    margin-left: 10%;
} 

#containerBack h1, #container h1{
    text-align: center;
    font-size: 6vh;
    margin-top: 4vh;
    font-weight: normal;
}

/* Liens non soulignés et non colorés */
a {background-color: transparent; color: black; text-decoration: none;}
a:hover,a:active {outline: 0;}


/*----------------------*/
/*     HEADER FRONT     */
/*----------------------*/

header{
    font-family: 'Unica One', cursive;
}

/* Header visible par l'utilisateur */
#headerFront{
    position: fixed;
    background-color: #292C30;
    height: 100%;
    width: 20%;
}

/* Images du header : logo */
#headerFront img{
    width: 13vw;
    margin-top: 3vh;
}

/* Container total du header */
#headerFrontContainerTotal{
    display: flex;
    flex-direction: column;
}

/* Partie contenant le logo */
#headerFrontContainerOne{
    text-align: center;
    margin-top: 2vh;
}

/* Partie comprenant les liens */
#headerFrontContainerTwo{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 7.5vh;
    font-size: 1.3vw;
}

/* Couleur des liens du header */
#headerFrontContainerTwo a{
    color: white;
}

/* Les liens du header */
#headerFrontContainerTwo div{
    text-align: center;
    padding: 15px 20px 15px 20px;
}

/* Les traits au dessous et en dessous des liens du header */
#headerFrontContainerTwo div:first-child{
    color: #AA8C64;
    border-top: 1px #313539 solid;
    border-bottom: 1px #313539 solid;
}

#headerFrontContainerTwo div:nth-child(3){
    color: #AA8C64;
    border-right: 4px solid #AA8C64;
    border-top: 1px solid #313539;
    border-bottom: 1px #313539 solid;
}

#headerFrontContainerTwo div:nth-child(5){
    border-top: 1px solid #313539;
    border-bottom: 1px #313539 solid;
}

#headerFrontContainerTwo div:last-child{
    border-bottom: 1px #313539 solid;
} 

/* Changer couleur des liens lors du hover */
#headerFrontContainerTwo div:hover a{
    color: #AA8C64;
}

/* Partie comprenant les svg des réseaux sociaux */
#headerFrontContainerThree{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8vh;
    width: 20vw;
}

#headerFrontContainerThree div:nth-child(1), #headerFrontContainerThree div:nth-child(2), #headerFrontContainerThree div:nth-child(3){
    margin-right: 10px;
}

/* SVG du header */
#headerFrontContainerThree svg{
    height: 5.3vh;
    fill: grey;
}

#headerFrontContainerThree svg:hover{
    fill: white;
}

/* Partie 2017 Copyright */
#headerFrontContainerFour{
    text-align: center;
    color: grey;
    position: absolute;
    bottom: 1.5vh;
    text-transform: uppercase;
    width: 20vw;
}

/*----------------------*/
/*   FIN HEADER FRONT   */
/*----------------------*/

/*----------------------*/
/*      HEADER BACK     */
/*----------------------*/

#headerBack{
    position: fixed;
    background-color: #073863;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
}

/* Images du header : logo */
#headerBack img{
    width: 7vw;
}

#headerBackContainerOne{
    text-align: center;
    margin-top: 20px;
}

#headerBackContainerTwo{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    text-transform: uppercase;
}

#headerBackContainerTwo div{
    text-align: center;
    margin-bottom: 15px;
    background-color: grey;
    padding: 8px 13px 8px 13px;
}

#headerBackContainerTwo div:hover{
    
}

/*----------------------*/
/*    FIN HEADER BACK   */
/*----------------------*/

/*----------------------*/
/*      HEADER BACK     */
/*----------------------*/

#headerBack{
    position: fixed;
    background-color: #073863;
    height: 100%;
    width: 10%;
}

/* Images du header : logo */
#headerBack img{
    width: 7vw;
}


/*----------------------*/
/*    FIN HEADER BACK   */
/*----------------------*/

/*----------------------*/
/*      FOOTER          */
/*----------------------*/

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 60px;
    text-align: center;
    margin: 0;
}

.foot{
    background-color: #333333;
}

.foot p, .foot a{
    text-decoration: none;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
}

/*----------------------*/
/*     FIN FOOTER       */
/*----------------------*/

/*----------------------*/
/*      BLOG            */
/*----------------------*/

#blogBackground img{
    position: relative:
}

/* Image de fond accueil blog */
#blogBackgroundImage img{
    filter: brightness(40%);
    width: 100%;
    height: 100vh;
}

/* Titre sur la photo de fond accueil blog */
#blogBackgroundTitle{
    position: absolute;
    text-align: center;
    color: white;
    top: 35%;
    left: 50vw;
    width: 20vw;
    font-family: 'Unica One', cursive;
}

/* SVG flèche vers le bas */
#blogBackgroundArrow svg{
    position: absolute;
    height: 5vh;
    bottom: 3%;
    fill: grey;
    left: 50vw;
    width: 20vw;
}

/* SVG flèche vers le bas lors du survol souris */
#blogBackgroundArrow svg:hover{
    fill: white;
}

/* Conteneur principal pour les articles */
#blogArticles{
    display: flex;
    flex-direction: column;
    background-color: #313539;
    margin-top: -5px;
}

/* Titre de la catégorie des articles */
#blogArticlesTitle{
    text-align: center;
    color: white;
    margin-top: 4vh;
}

/* Les catégories */
#blogCategories{
    justify-content: center;
}

/* Partie qui affiche les articles */
#blogArticlesArticles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5vh 2.5vw 1.5vh 2.5vw;
}

/* Gérer chaque article */
#blogArticlesArticles a{
    margin: 15px 10px 15px 10px;
    background-color: white;
}

#blogArticlesArticles img:hover{
    filter: brightness(70%);
}

#blogArticlesArticles p{
    margin-left: 20px;
    max-width: 250px;
    text-align: center;
}
/*----------------------*/
/*      FIN BLOG        */
/*----------------------*/