/* Importation de polices Google font */
@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* Gérer les marges des div + définition de la police*/
*{box-sizing: border-box;}

/* Aucune marge sur les côtés */
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#container{
    margin: 0;
    width: 80%;
    margin-left: 20%;
}

#containerBack{
    margin: 0;
    width: 90%;
    margin-left: 10%;
} 

#containerBack h1, #container h1{
    text-align: center;
    font-size: 6vh;
    margin-top: 4vh;
    font-weight: normal;
}

/* Image de fond accueil */
#backgroundImage{
    background:url(../images/blog_home.png) fixed;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    filter: brightness(40%);
    height: 100vh; 
}

/* Liens non soulignés et non colorés */
a {background-color: transparent; color: black; text-decoration: none;}
a:hover,a:active {outline: 0;}


/*----------------------*/
/*     HEADER FRONT     */
/*----------------------*/

header{
    font-family: 'Unica One', cursive;
}

/* Header visible par l'utilisateur */
#headerFront{
    position: fixed;
    background-color: #292C30;
    height: 100%;
    width: 20%;
}

/* Images du header : logo */
#headerFront img{
    width: 13vw;
    margin-top: 3vh;
}

/* Container total du header */
#headerFrontContainerTotal{
    display: flex;
    flex-direction: column;
}

/* Partie contenant le logo */
#headerFrontContainerOne{
    text-align: center;
    margin-top: 2vh;
}

/* Partie comprenant les liens */
#headerFrontContainerTwo{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 7.5vh;
    font-size: 1.3vw;
}

/* Couleur des liens du header */
#headerFrontContainerTwo a{
    color: white;
}

/* Les liens du header */
#headerFrontContainerTwo div{
    text-align: center;
    padding: 15px 20px 15px 20px;
}

/* Les traits au dessous et en dessous des liens du header */
#headerFrontContainerTwo div:first-child{
    color: #AA8C64;
    border-top: 1px #313539 solid;
    border-bottom: 1px #313539 solid;
}

#headerFrontContainerTwo div:nth-child(3){
    color: #AA8C64;
    border-top: 1px solid #313539;
    border-bottom: 1px #313539 solid;
}

.active{
     border-right: 4px solid #AA8C64;
}

#headerFrontContainerTwo div:nth-child(5){
    border-top: 1px solid #313539;
    border-bottom: 1px #313539 solid;
}

#headerFrontContainerTwo div:last-child{
    border-bottom: 1px #313539 solid;
} 

/* Changer couleur des liens lors du hover */
#headerFrontContainerTwo div:hover a{
    color: #AA8C64;
}

/* Partie comprenant les svg des réseaux sociaux */
#headerFrontContainerThree{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8vh;
    width: 20vw;
}

#headerFrontContainerThree div:nth-child(1), #headerFrontContainerThree div:nth-child(2), #headerFrontContainerThree div:nth-child(3){
    margin-right: 10px;
}

/* SVG du header */
#headerFrontContainerThree svg{
    height: 5.3vh;
    fill: grey;
}

#headerFrontContainerThree svg:hover{
    fill: white;
}

/* Partie 2017 Copyright */
#headerFrontContainerFour{
    text-align: center;
    color: grey;
    position: absolute;
    bottom: 1.5vh;
    text-transform: uppercase;
    width: 20vw;
}

/*----------------------*/
/*   FIN HEADER FRONT   */
/*----------------------*/

/*----------------------*/
/*      HEADER BACK     */
/*----------------------*/

#headerBack{
    position: fixed;
    background-color: #073863;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
}

/* Images du header : logo */
#headerBack img{
    width: 7vw;
}

#headerBackContainerOne{
    text-align: center;
    margin-top: 20px;
}

#headerBackContainerTwo{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    text-transform: uppercase;
}

#headerBackContainerTwo div{
    text-align: center;
    margin-bottom: 15px;
    background-color: grey;
    padding: 8px 13px 8px 13px;
}

#headerBackContainerTwo div:hover{
    
}

/*----------------------*/
/*    FIN HEADER BACK   */
/*----------------------*/

/*----------------------*/
/*      HEADER BACK     */
/*----------------------*/

#headerBack{
    position: fixed;
    background-color: #073863;
    height: 100%;
    width: 10%;
}

/* Images du header : logo */
#headerBack img{
    width: 7vw;
}


/*----------------------*/
/*    FIN HEADER BACK   */
/*----------------------*/

/*----------------------*/
/*      FOOTER          */
/*----------------------*/

footer{
    position: relative;
    width: 80%;
    text-align: center;
    margin-left: 20%;
    color: white;
}

.foot{
    background-color: #333333;
}

.foot p, .foot a{
    text-decoration: none;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
}

/*----------------------*/
/*     FIN FOOTER       */
/*----------------------*/

/*----------------------*/
/*      INDEX           */
/*----------------------*/

.index-container{
    margin-top: -5px;
    position:relative;
    z-index: 1000;
}

/*----------------------*/
/*      FIN INDEX       */
/*----------------------*/

/*----------------------*/
/*      BLOG            */
/*----------------------*/

#blogBackground img{
    position: relative;
}

/* Titre sur la photo de fond accueil blog */
#blogBackgroundTitle{
    position: fixed;
    text-align: center;
    color: white;
    top: 35%;
    left: 50vw;
    width: 20vw;
    font-family: 'Unica One', cursive;
    display: block;
}

/* SVG flèche vers le bas */
#blogBackgroundArrow svg{
    position: absolute;
    height: 5vh;
    bottom: 3%;
    fill: grey;
    left: 50vw;
    width: 20vw;
}

/* SVG flèche vers le bas lors du survol souris */
#blogBackgroundArrow svg:hover{
    fill: white;
}

/* Conteneur principal pour les articles */
#blogArticles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #313539;
    margin-top: -5px;
    position:relative;
    z-index: 1000;
    padding-bottom: 4vh;
}

/* Titre de la catégorie des articles */
#blogArticlesTitle{
    text-align: center;
    color: white;
    margin-top: 4vh;
}

/* Les catégories */
#blogCategories{
    color: white;
    text-align: center;
}

/* Boutons pour changer de catégorie */
.category{
   	border:none;
	padding:6px 10px 6px 10px;
	background:#ffffff;
	color:#555; 
}

.category:hover{
	background: #C1C1C1;
    
}

/* Partie qui affiche les articles */
#blogArticlesArticles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5vh 2.5vw 1.5vh 2.5vw;
}

/* Gérer chaque article */
#blogArticlesArticles a{
    margin: 15px 10px 15px 10px;
    background-color: white;
}

#blogArticlesArticles img:hover{
    filter: brightness(70%);
}

#blogArticlesArticles p{
    margin-left: 20px;
    max-width: 250px;
    text-align: center;
}

#blogTestimony{
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    z-index: 1000;
}

#blogTestimonyTitle{
    text-align: center;
    margin-top: 4vh;
}

#blogTestimonyTestimonials{
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
}

#blogTestimonyTestimonials p{
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
    background-color: #E0E0E0;
    padding: 20px;
}

#blogTestimonyTestimonials div{
    width: 18vw;
    text-align: justify;
}

#blogTestimonyTestimonials img{
    width: 10vw;
    height: 10vw;
    border-radius: 30px;
}

#blogInformations{
    display: flex;
    flex-direction: column;
    background-color: #313539;
    padding-bottom: 4vh;
    color: white;
    justify-content: center;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4vh;
    text-align: center;
}

#blogInformations a{
    color: white;
}

#blogInformations svg{
    fill: white;
    height: 4vh;
}

.blogTestimonyTestimonialsImage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogTestimonyTestimonialsImage div{
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}

.blogTestimonyTestimonialsImage div:nth-child(2){
    margin-top: -8vh;
}

.blogTestimonyTestimonialsImage h3{
    font-size: 1.2vw;
}

.blogTestimonyTestimonialsImage h4{
    font-size: 0.8vw;
}

/*----------------------*/
/*      FIN BLOG        */
/*----------------------*/